.game
  padding 1rem

  &__cover
    display flex
    justify-content center
    margin-bottom $size.little

  &__details
    max-width 600px
    margin 0 auto
    color $color.primary

    @media screen and (min-width: $breakpoints.md)
      font-size $font.snug

    &__border
      position relative
      z-index 1
      border 21px solid
      border-image url('https://legends.pokemon.com/assets/border-paper.png') 42 repeat

    &__background
      background url('https://legends.pokemon.com/assets/bg-paper.jpg') repeat center top
      padding 1rem

      > p
        margin-bottom $size.micro

    &__pokemons
      &:hover
        cursor pointer

      > p
        margin-left $size.tiny

      > p:not(:last-child)
        margin-bottom $size.nano