#app
  background url('https://legends.pokemon.com/assets/bg-weave-mid-to-light.jpg') repeat-x top center, url('https://legends.pokemon.com/assets/bg-weave-light.jpg') repeat top center
  overflow hidden

.view
  height 100%
  width 100vw
  padding .5rem 1rem