$size = {
  quark: 2px,
  nano: 4px,
  micro: 8px,
  tiny: 12px,
  little: 16px,
  snug: 18px,
  small: 22px
}

$font = {
  small: .875rem
  default: 1rem
  snug: 1.2rem
  medium: 1.4rem
  large: 2rem
}

$breakpoints = {
  sm: 320px,
  md: 768px,
  lg: 1024px,
}