@import 'shared/reset'
@import 'shared/sizes'
@import 'shared/fonts'
@import 'shared/animations'

@import 'views/view'
@import 'views/home'
@import 'views/game'

@import 'components/GameCard'
@import 'components/Loader'